/* Styles pour le tableau */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th, .table td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  /* Styles pour le formulaire de bannissement */
  .input-container {
    margin-bottom: 10px;
  }
  
  .input-container input[type="number"] {
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .input-container button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .input-container button:hover {
    background-color: #0056b3;
  }
  
  /* Styles pour le popup */
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  
  .popup-content {
    text-align: center;
  }
  
  .close-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .close-button:hover {
    background-color: #0056b3;
  }
  /* Styles pour les boutons de taille plus petite */
  .button.small {
    padding: 6px 12px;
    font-size: 12px;
  }
  
  /* Styles pour les boutons de couleur secondaire */
  .button.secondary {
    background-color: #6c757d;
  }
  
  .button.secondary:hover {
    background-color: #5a6268;
  }
  /* Style pour centrer le titre */
  .title-container {
    text-align: center;
  }
  
  /* Style pour le titre */
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
  }
  /* Style pour centrer le contenu */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Assure que le contenu est centré verticalement sur toute la hauteur de la fenêtre */
  }
  
  /* Style pour le titre */
  .container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Style pour le tableau */
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  