
<link rel="shortcut icon" type="image/png" href="/assets/BackOffice/images/logos/favicon.png" />
<link rel="stylesheet" href="/assets/BackOffice/css/styles.min.css" />

<div class="layout-wrapper layout-content-navbar">
<div class="layout-container">



  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container clearfix">
        <div class="sidebar">
            <!-- Content for sidebar goes here -->
           
           
        </div>
        <div class="backoffice">
            <!-- Content for backoffice layout goes here -->
            <app-headerfront></app-headerfront>
         <app-sidebarback></app-sidebarback>
        </div>
    </div>
  </div>
            
  
  
  
        <script src="/assets/BackOffice/libs/jquery/dist/jquery.min.js"></script>
        <script src="/assets/BackOffice/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/BackOffice/js/sidebarmenu.js"></script>
        <script src="/assets/BackOffice/js/app.min.js"></script>
        <script src="/assets/BackOffice/libs/apexcharts/dist/apexcharts.min.js"></script>
        <script src="/assets/BackOffice/libs/simplebar/dist/simplebar.js"></script>
        <script src="/assets/BackOffice/js/dashboard.js"></script>
   
   
 

   
</div>
</div>









