
  <!-- tout les fichiers .css -->

  <link rel="preconnect" href="https://fonts.googleapis.com">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link  rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;700&display=swap">

  <link  rel="stylesheet"  href="../../../assets/FrontOffice/assets/css/bootstrap.min.css">

  <link  rel="stylesheet" href="../../../assets/FrontOffice/assets/css/bootstrap-icons.css">

  <link  rel="stylesheet" href="../../../assets/FrontOffice/assets/css/templatemo-festava-live.css">
  




         <app-headerfront></app-headerfront>      
         <app-navbarcomponentfront></app-navbarcomponentfront>
       
 

      <app-homecomponentfront></app-homecomponentfront>

      <app-footerfront></app-footerfront>

<!-- tout les fichiers javaScript mawjoudon houni -->

<script src="../../../assets/FrontOffice/assets/js/jquery.min.js"></script>
<script src="../../../assets/FrontOffice/assets/js/bootstrap.min.js"></script>
<script src="../../../assets/FrontOffice/assets/js/jquery.sticky.js"></script>
<script src="../../../assets/FrontOffice/assets/js/click-scroll.js"></script>
<script src="../../../assets/FrontOffice/assets/js/custom.js"></script>


